body{
    background-color: #222222;
}
:root{
    --home-btn-color: #4080ff;
    --login-btn-color: #00d300;
    --register-btn-color: #e1e100;
    --tiles-radius: 15px;
    --tiles-height: 200px;
    --tiles-height-mobile: 150px;
    --tiles-margin: 15px;
    --home-btn-color-grad: #95d6ff;
    --login-btn-color-grad: #b6f88c;
    --tile-transition: transform .3s ease-in-out;
}
.navbar {
    width: 100%;
}
.navbar-brand{
    font-family: 'Tangerine', cursive;
    font-size: 44px;
    font-stretch: semi-expanded;
    height: 56px;
    vertical-align: middle;
    letter-spacing: 3px;
}
.btn{
    border-radius: 5px;
    width: 80px;
    height: 40px;
}
.btn:hover{
    color: #7a7a7a;
}
.btn-outline-success{
    border-color: var(--login-btn-color);
    color: var(--login-btn-color);
}
.btn-outline-success:hover{
    border-color: var(--login-btn-color);
    background-color: var(--login-btn-color);
}
.btn-outline-warning{
    border-color: var(--register-btn-color);
    color: var(--register-btn-color);
}
.btn-outline-warning:hover{
    border-color: var(--register-btn-color);
    background-color: var(--register-btn-color);
}
.btn-outline-primary{
    border-color: var(--home-btn-color);
    color: var(--home-btn-color);
}
.btn-outline-primary:hover{
    border-color: var(--home-btn-color);
    background-color: var(--home-btn-color);
 }

.fake-margin{
    height: 100px;
}

.add-products-tile{
    height: var(--tiles-height);
    background: linear-gradient(to bottom right, var(--login-btn-color), var(--login-btn-color-grad));
    border-top-left-radius: var(--tiles-radius);
}
.check-macros-tile{
    height: var(--tiles-height);
    background: linear-gradient(to bottom left, var(--home-btn-color), var(--home-btn-color-grad));
    border-top-right-radius: var(--tiles-radius);
}
.go-to-profile-tile{
    height: var(--tiles-height);
    background: linear-gradient(to top right, var(--home-btn-color), var(--home-btn-color-grad));
    border-bottom-left-radius: var(--tiles-radius);
}
.check-coloric-needs-tile{
    height: var(--tiles-height);
    background: linear-gradient(to top left, var(--login-btn-color), var(--login-btn-color-grad));
    border-bottom-right-radius: var(--tiles-radius);
}
.tile-margin{
    margin: var(--tiles-margin);
    transition: var(--tile-transition);
}
.tile-margin:hover{
    transform: scale(1.02);
}

@media screen and (max-width: 992px) {
    .add-products-tile{
        height: var(--tiles-height-mobile);
        background: linear-gradient(to bottom right, var(--login-btn-color), var(--login-btn-color-grad));
        border-top-left-radius: var(--tiles-radius);
        border-top-right-radius: var(--tiles-radius);
    }
    .check-macros-tile{
        height: var(--tiles-height-mobile);
        background: linear-gradient(to bottom left, var(--home-btn-color), var(--home-btn-color-grad));
        border-top-right-radius: 0px;
    }
    .go-to-profile-tile{
        height: var(--tiles-height-mobile);
        background: linear-gradient(to top left, var(--login-btn-color), var(--login-btn-color-grad));
        border-bottom-left-radius: 0px;
    }
    .check-coloric-needs-tile{
        height: var(--tiles-height-mobile);
        background: linear-gradient(to bottom left, var(--home-btn-color), var(--home-btn-color-grad));
        border-bottom-right-radius: var(--tiles-radius);
        border-bottom-left-radius: var(--tiles-radius);
    }
    .tile-margin{
        margin: var(--tiles-margin);
    }
}