<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head lang="en">
    <meta charset="UTF-8">
    <title>Add Products</title>
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}"/>

</head>
<body>
<div id="annotation">
    Here you can add some products to our database.
</div>
<form class="form-horizontal" id="dataForm">
    <div class="form-group">
        <label class="control-label col-sm-2" for="name">Name of product</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="name" placeholder="Etc. Apple">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="protein">Amount of proteins:</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="protein">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="carbs">Amount of carbs:</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="carbs">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="fat">Amount of fat:</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="fat">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type = "button" id="submitProduct"  class="btn btn-default btn-large">Submit</button>
        </div>
    </div>
    <div id="test"></div>
</form>

<a th:href = "@{/}">Go to Home Page.</a>
<a th:href = "@{/register}">Go to register page.</a>

<script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
<script th:src="@{/js/ajaxForAddingProducts.js}"></script>
</body>
</html>