<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head lang="en">
    <title>Home Page</title>
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/main-page.css" th:href="@{/css/main-page.css}"/>

    <link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">

</head>
<body>
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-toggleable-sm navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="#">Fit Site</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link active" th:href = "@{/}">
                            <button type="button" class="btn btn-outline-primary btn-sm" onmouseover="console.log(this.style.color)">
                                Home<span class="sr-only">(current)</span>
                            </button>
                        </a>
                        <a class="nav-item nav-link" href="#">
                            <button type="button" class="btn btn-outline-success btn-sm">
                                Log in
                            </button>
                        </a>
                        <a class="nav-item nav-link" th:href = "@{/register}">
                            <button type="button" class="navbarBtn btn btn-outline-warning btn-sm">
                                Register
                            </button>
                        </a>
                    </div>
                </div>
            </nav>
        </div>

        <div class="row fake-margin"></div>
        <div class="row justify-content-center">
            <div class="col-lg-4 add-products-tile tile-margin">

            </div>
            <div class="col-lg-4 check-macros-tile tile-margin">

            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 go-to-profile-tile tile-margin">

            </div>
            <div class="col-lg-4 check-coloric-needs-tile tile-margin">

            </div>
        </div>


    </div>

    <a th:href = "@{/register}">Go to register page.</a><br>
    <a th:href = "@{/registerWithAjax}">Go to register with ajax page.</a><br>
    <a th:href = "@{/addProducts}">Add some products</a>

<script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
</body>
</html>